* {
    color: #ccc;
    background-color: #000;
    font-family: monospace;
    vertical-align: bottom;
}

body {
    margin-left: 5rem;
    margin-right: 5rem;
}

p, ul {
    font-size: large;
    line-height: 1.5;
}

.logo {
    color: #fff;
    font-family: "Share Tech Mono", monospace;
    font-size: 7rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.heading {
    font-family: "Share Tech Mono", monospace;
    font-size: 2rem;
    font-style: italic;
    margin-top: 2rem;
}

.footer {
    margin-top: 2rem;
    text-align: center;
}
