html, body {
    margin: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    background-color: #111;
    color: #eee;
    font-family: "Share Tech Mono", monospace;
    font-size: 4rem;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
